# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.egg

# 虚拟环境
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# 数据（原始数据不上传至 Git）
data/raw/
data/processed/

# 模型权重文件（可能很大）
logs/*.pkl
logs/*.pt
logs/*.png

# 系统文件
.DS_Store
Thumbs.db
